@{ ViewBag.Title = "Compare";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<head>   
    <link href="~/Content/JoolyStyles/Compare.css" rel="stylesheet" />
</head>

<p>@Session["categoryName"]</p><p id="subCategory"> > @Html.ActionLink((string)(Session["subCategory"]), "SearchResult", "SearchProduct", new { subCategory = (string)Session["subCategory"] }, null)  </p><p>> Compare</p>
<p></p>
<div class="comparison">
    <table>
        <thead>
            <tr>
                <th></th>
                @{ foreach (var product in ViewBag.productDetails)
                    {
        <th class="price-info">
            <input type="image" style="width: 100%" src="@Url.Content(@product["DESCRIPTION"]["Product Image"])">
        </th> } }
            </tr>
        </thead>
        <tbody>
            <tr class="compare-row">
                <td>DESCRIPTION</td>
                @for (int i = 0; i < ViewBag.productDetails.Count; i++)
                {
    <td></td>}
            </tr>
            @{ foreach (var key in @ViewBag.productDetails[0]["DESCRIPTION"].Keys)
                {
                    if (key != "Product Image")
                    {
    <tr>
        <td>
            @key
        </td>
        @foreach (var item in ViewBag.productDetails)
        {
<td>
    @item["DESCRIPTION"][key]
</td>}
    </tr> } } }

            <tr class="compare-row">
                <td>TYPE</td>
                @for (int i = 0; i < ViewBag.productDetails.Count; i++)
                {
    <td></td>}
            </tr>
            @{ foreach (var key in @ViewBag.productDetails[0]["TYPE"].Keys)
                {
    <tr>
        <td>
            @key
        </td>
        @foreach (var item in ViewBag.productDetails)
        {
<td>
    @item["TYPE"][key]
</td>}
    </tr> } }
            <tr class="compare-row">
                <td>TECH SPEC</td>
                @for (int i = 0; i < ViewBag.productDetails.Count; i++)
                {
    <td></td>}
            </tr>
            @{ foreach (string key in @ViewBag.productDetails[0]["TECHNICAL SPECIFICATIONS"].Keys)
                {
    <tr>
        <td>
            @key
        </td>
        @foreach (var item in ViewBag.productDetails)
        {
<td>
    @item["TECHNICAL SPECIFICATIONS"][key]
</td>}
    </tr> } }
        </tbody>
    </table>
</div>


