@{ ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<head>

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Content/JoolyStyles/Search_Result.css" rel="stylesheet" />

</head>

<h3>SearchResult</h3>

<div>
    <div class="container">
        <div class="left" style="width: 30%; display:inline-block">
            <div cless="left-layer" style="border-style: solid; border-width: 1px; padding: 5px">
                <h4 style="display:inline; margin-left: 10px">Search: </h4>
                <button id="fltbtn" type="submit" style="margin-left: 20px; background-color:rgb(91,192,222);border-radius:2px;">Save</button>
                <button style="margin-left: 20px; background-color:rgb(91,192,222);border-radius:2px;">Clear</button>
            </div>
            <div style="display: flex;">
                <div style="display:inline-block; flex-basis: 100%; border-style: solid; border-width: 1px; text-align: center">
                    <h4>Product</h4>
                </div>
                <div style="display:inline-block; flex-basis: 100%; border-style: solid; border-width: 1px; text-align: center">
                    <h4>Project</h4>
                </div>
            </div>
            <div style="width: 100%">
                <button class="collapsible" style="width: 100%; cursor: pointer; text-align: left;" :after>Product Type</button>
                <div class="content">
                    @{ Dictionary<string, List<string>> typeFilters = ViewBag.typeFilters;
                        foreach (KeyValuePair<string, List<string>> entry in typeFilters)
                        {
            <div style="border-style: solid; border-width: 1px; padding: 5px; text-align: center;">
                <P4>@entry.Key:&nbsp;</P4>
                @foreach (string value in entry.Value)
                {
<label for=@value>@value</label>
                    <input type="checkbox" id=@value />}
            </div> } }

                </div>
            </div>
            <div style="border-style: solid; border-width: 1px; padding: 5px">
                <h4 style="display:inline">Model Year:&nbsp;&nbsp;</h4>
                <input type="number" style="display:inline; width: 70px" />
                <h4 style="display:inline">&nbsp;&nbsp;-&nbsp;&nbsp;</h4>
                <input type="number" style="display:inline; width: 70px" />
            </div>
            <div style="width: 100%">
                <button class="collapsible" style="width: 100%; cursor: pointer; text-align: left;" :after>Technical Specifications</button>
                <div class="content">
                    @{ Dictionary<string, List<decimal?>> techSpecFilter = ViewBag.techSpecFilter;
                        int a = 0;
                        foreach (KeyValuePair<string, List<decimal?>> entry in techSpecFilter)
                        {
            <div style="border-style: solid; border-width: 1px; padding-left: 10px">
                <h5>&#11139 @entry.Key</h5>

                <div style="margin: 10px">
                    <input type="number" class="sliderValue" data-index=@a value=@entry.Value[0] style="display: inline-block; border:hidden; width: 20%" min="@entry.Value[0]" max="@entry.Value[1]" />
                    @{a++;}
                    <div id="slider" class="showMoving" style="display: inline-block; width: 50%; margin-left:10px; margin-right:10px"></div>                    
                    <input type="number" class="sliderValue" data-index=@a value=@entry.Value[1] style="display: inline-block; border:hidden; width: 20%" min="@entry.Value[0]" max="@entry.Value[1]" />
                    @{a++;}
                </div>
            </div> } }                   
                </div>
            </div>
        </div>
        <div class="right" style="margin-left: 5px; display:inline-block; vertical-align: top; width: 65%">
            <div class="right-header">
                <p><b>@Session["categoryName"]</b> > @Session["subCategory"] </p>
            </div>
            <div class="right-products">
                @{ foreach (var item in ViewBag.products)
                    {
        <div class="card" style="display: inline-block; margin-top: 10px; vertical-align:top">
            <img src="@Url.Content(item.Product_Image)" alt="Avatar" style="width: 100%; border-radius: 5px 5px 0 0;">
            <div style="padding: 2px 16px;">
                <h4>@item.Product_Name</h4>
                <h5>@item.Series</h5>
                <h5>@item.Model</h5>
                <h5>@item.Model_Year</h5>
                <h5>@item.Series_Info</h5>
                <input type="checkbox" class="product-checkbox" id=@item.Product_ID unchecked>
                <label for=@item.Product_ID>Compare</label>
                <br />
                @Html.ActionLink("Product Summary", "Summary", "SearchProduct", new { productId = item.Product_ID }, new { target = "_blank" })
            </div>
        </div> } }
            </div>
            <div>
                <button type="submit" id="cmpbtn" style="margin-top: 10px;">Compare</button>
            </div>
        </div>
    </div>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }

    $("#cmpbtn").click(function () {
        var productsID = [];
        var checkboxs = document.getElementsByClassName("product-checkbox");
        for (let i = 0; i < checkboxs.length; i++) {
            if (checkboxs[i].checked) {
                productsID.push(checkboxs[i].id);
            }
        }
        console.log("productsID:", productsID);
        $.post("@Url.Action("Compare", "SearchProduct")",
            {
                productsId: productsID
            },
            function (page, status) {

                var w = window.open('about:blank');
                w.document.open();
                w.document.write(page);
                w.document.close();
            }
        );
    })

    $(document).ready(function () {
        $("div#slider").each(function (index, element) {
            var a1 = index * 2;
            var a2 = index * 2 + 1;
            var minVal = $("input.sliderValue[data-index=" + a1 + "]").val() - 1;
            var maxVal = $("input.sliderValue[data-index=" + a2 + "]").val() - (-1);
            var minRange = minVal++;
            var maxRange = maxVal--;
            $(element).slider({
                min: minVal,
                max: maxVal,
                step: 1,
                values: [minRange, maxRange],
                range: true,
                slide: function (event, ui) {
                    for (let i = 0; i < ui.values.length; i++) {
                        var b = i + index*2;
                        $("input.sliderValue[data-index=" + b + "]").val(ui.values[i]);
                    }
                }
            });

            $("input.sliderValue[data-index=" + a1 + "]").change(function () {
                console.log(("input.sliderValue[data-index=" + a1 + "]"));
                var $this = $(this);
                $(element).slider("values", 0, $this.val());
            });

            $("input.sliderValue[data-index=" + a2 + "]").change(function () {
                console.log(("input.sliderValue[data-index=" + a1 + "]"));
                var $this = $(this);
                $(element).slider("values", 1, $this.val());
            });
        });
    });

    var dive = $(".right-products");
    console.log(dive);
    $("#fltbtn").click(function () {
        var fltVal = [];
        var filInputs = document.getElementsByClassName("sliderValue");
        var subCategory = "@Session["subCategory"]";
        for (let i = 0; i < filInputs.length; i++) {
            fltVal.push(filInputs[i].value);
        }
        console.log(fltVal);
        $.post ("@Url.Action("Filter", "SearchProduct")",
            {
                fltVal: fltVal,
                subCategory: subCategory
            },

            function (page, status) {
                $(".right-products").html(page);
            }
        );
    })
    $(".showMoving").bind("mousedown", function () {
        $("body").bind("mouseup", function (event) {
            event.stopPropagation();
            event.preventDefault();
            var fltVal = [];
            var filInputs = document.getElementsByClassName("sliderValue");
            var subCategory = "@Session["subCategory"]";
            for (let i = 0; i < filInputs.length; i++) {
                fltVal.push(filInputs[i].value);
            }
            console.log(fltVal);
            $.post("@Url.Action("Filter", "SearchProduct")",
                {
                    fltVal: fltVal,
                    subCategory: subCategory
                },
                function (page, status) {
                    $(".right-products").html(page);
                }
            );
            $(this).unbind("mouseup");
        });
    })
</script>

