@model JooleProject_DAL.User
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/Content/JoolyStyles/Login.css" rel="stylesheet" />
</head>
<body>

    @*Login form here*@
    <div class="img-container">
        <input type="image" id="joole" alt="joole" class="joole" src="~/Images/jooleLogo.png">
    </div>

    <h1 style="text-align:center;font-size:25px;font-weight:normal">Building Product Selection Platform</h1>
    @*Login form here*@
    <div class="loginform">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
<div class="inputContainer">
    <i class="fa fa-user icon"> </i>
    @Html.TextBoxFor(model => model.User_Name, new
    {
        style = "width:450px;margin-bottom:15px;margin:auto;" +
                 "padding:10px;border-radius:4px;text-align:left;font-size:20px;font-weight:500;",
        placeholder = "Username Or Email"
    })
    @Html.ValidationMessageFor(model => model.User_Name)

</div>

                <div class="inputContainer">
                    <i class="fa fa-lock icon"> </i>
                    @Html.PasswordFor(model => model.User_Password, new
                    {
                        style = "width:450px;margin-bottom:15px;margin:auto;" +
                                  "padding:10px;border-radius:4px;text-align:left;font-size:20px;font-weight:500;",
                        placeholder = "Password"
                    })
                    @Html.ValidationMessageFor(model => model.User_Password)

                </div>
                                <div class="inputContainer">
                                    <label>@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                                </div>

                                                <input class="loginbutton" type="submit" value="Log In" />}
    </div>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Sign Up</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        @using (Html.BeginForm("Signup", "Login", FormMethod.Post, new { @class = "modal-content" }))
        {
    <span class="close" id="circle">&times;</span>
    <h2 style="font-size: 22px; font-weight: normal">Register as User</h2>
        <hr>
        <table>
            @*image here*@
            <tr>
                <td></td>
                <td><label for="avatar" class="imageelement"><b>Image Preview</b></label></td>
            </tr>

            <tr>
                <td></td>
                <td><img id="output_image" class="imageelement"></td>
            </tr>
            <tr>
                <td></td>
                <td><label for="avatar" class="imageelement"><b>Your Profile Pic</b></label></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="file" class="imageelement" accept="image/*" onchange="preview_image(event)"></td>
            </tr>
            <tr>
                <td><label for="name"><b>UserName:</b></label></td>
                <td>@Html.TextBoxFor(model => model.User_Name, new { @class = "field", placeholder = "User Name", required = "required" })</td>
                <td>@Html.ValidationMessageFor(model => model.User_Name)</td>
            </tr>
            <tr>
                <td><label for="email"><b>Email Address:</b></label></td>
                <td>@Html.TextBoxFor(model => model.User_Email, new { @class = "field", placeholder = "Email Id", required = "required" })</td>
                <td>@Html.ValidationMessageFor(model => model.User_Email)</td>
            </tr>
            <tr>
                <td><label for="password"><b>Password:</b></label></td>
                <td>@Html.PasswordFor(model => model.User_Password, new { @class = "field", placeholder = "Password", id = "password", required = "required" })</td>
                <td>@Html.ValidationMessageFor(model => model.User_Password)</td>
            </tr>


            <tr>
                <td><label for="confirmpassword"><b>Confirm Password:</b></label></td>
                <td>@Html.PasswordFor(model => model.User_ConfirmPassword, new { @class = "field", placeholder = "ConfirmPassword",  required = "required" ,id = "confirmpassword" })</td>
                <td>@Html.ValidationMessageFor(model => model.User_ConfirmPassword)</td>
            </tr>





            
        </table>
    <hr>
    <input class="signupbutton" type="submit" value="Sign up" />}
    </div>


    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script type='text/javascript'>
        function preview_image(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output_image');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }

        $("#confirmpassword").keyup(function () {
            $("#confirmpassword").next("i").remove();
            if ($("#confirmpassword").val() != $("#password").val()) {
                console.log(123);


                $("#confirmpassword").after(`<i style="color: red;">Password not match<i>`);

            }else {
            $("#confirmpassword").next("i").remove();
        }


      

     });






    </script>



</body>
</html>

